---
name: Release - Test, Build & Push Image
on:
  release:
    branches:
      - main
      - master
    types: [ published ]
jobs:
  validate-release-tag:
    uses: ./.github/workflows/reusable_validate-release-tag.yml
    with:
      release_tag: '${{ github.event.release.tag_name }}'
#  test:
#    needs: validate-release-tag
#    uses: ./.github/workflows/reusable_test-python.yml
  build-push:
    needs: validate-release-tag
    uses: ./.github/workflows/reusable_build-push.yml
    with:
      name: '${{ github.event.repository.name }}'
      tags: '${{ github.event.release.tag_name }},latest'
    secrets: inherit
